body {
    background: url("../images/wood_pattern.png");
    font-family: 'Cormorant Upright', serif;
    text-align: center;
}

.container {
    background-color: #dcc7e8;
}

.head {
    margin-bottom: 20px;
    border-bottom: solid 1px #ddd;
    background-color:#e0b09d;
    text-align: center;
}

#title {
    padding-top: 15px;
    font-family: 'Cormorant Upright', serif;
    text-align: center;
}

.gameRules {
    font-family: 'Cormorant Upright', serif;
    background-color: #dcc7e8;
    margin-bottom: 10px;
    font: 35px;
    color: black;
    border-bottom: solid 1px #ddd;
}  

.crystalImage {
	height: 111px;
	border: solid 1px #272525;
	margin-left: 10px
}

.crystalImage:firstchild {
	margin-left: 0px;

}

.display {
    background-color: #0c4743;
    color: #e1e8f0;
    font: 25px;
    margin-bottom: 50px;
}

.randomNumber {
    font-family: 'Cormorant Upright', serif;
    font-size: 30px;
}

.result{
    font-family: 'Cormorant Upright', serif;
    font-size: 30px;
}

#displayScore{
    font-family: 'Cormorant Upright', serif;
    font-size: 30px;
}
